@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<h3>@ViewBag.Message</h3>
<h3>@ViewData["SubTitle"]</h3>

<table border="1">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
            </tr>
        }
    </tbody>
</table>