@model IEnumerable<SiteUser>

@{
    ViewData["Title"] = "Users";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
}

@section Scripts {
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#jsGrid").jsGrid({
                width: "100%",

                inserting: true,
                editing: true,
                sorting: true,
                paging: true,
                filtering: true,

                autoload: true,
                pageLoading: true,

                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "GET",
                            url: "/api/users",
                            data: filter,
                            contentType: "application/json"
                        });
                    },
                    insertItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "/api/users",
                            data: JSON.stringify(item),
                            contentType: "application/json",
                            dataType: "json"
                        });
                    },
                    updateItem: function (item) {
                        return $.ajax({
                            type: "PUT",
                            url: "/api/users/" + item.id,
                            data: JSON.stringify(item),
                            contentType: "application/json",
                            dataType: "json"
                        });
                    },
                    deleteItem: function (item) {
                        return $.ajax({
                            type: "DELETE",
                            url: "/api/users/" + item.id,
                            contentType: "application/json",
                            dataType: "json"
                        });
                    }
                },

                onError: function (grid, args) {
                    $('.toast').toast('show')
                },

                fields: [
                    { name: "id", type: "text", title: "Id", visible: false },
                    { name: "userName", type: "text", validate: "required", title: "UserName", width: 150 },
                    { name: "email", type: "text", validate: "required", title: "Email", width: 150 },
                    { name: "firstName", type: "text", title: "First Name" },
                    { name: "lastName", type: "text", title: "Last Name" },
                    //{ name: "password", type: "passwordField", title: "Password", filtering: false },
                    { name: "roles", type: "text", title: "Roles", filtering: false, width: 100 },
                    {
                        type: "control",
                        width: 200,
                        itemTemplate: function (value, item) {
                            var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                            var $customButton = $("<button>")
                                .addClass("btn btn-success btn-sm")
                                .text("Password")
                                .click(function (e) {
                                    window.userId = item.id;
                                    dialog.dialog("open");
                                    e.stopPropagation();
                                });

                            return $result.add($customButton);
                        }
                    }
                ]
            });

            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                width: 400,
                height: 250,
                modal: true,
                buttons: {
                    "Ok": function () {
                        $.ajax({
                            type: "POST",
                            url: "/api/users/" + window.userId + "/changepassword",
                            data: JSON.stringify({ password: $("#password").val() }),
                            contentType: "application/json",
                            dataType: "json"  
                        })
                        .done(function () {
                            alert("Password changed");
                        })
                        .fail(function () {
                            alert("Error changing password");
                        })
                        .always(function () {
                            dialog.dialog("close");
                        });
                    },
                    Cancel: function () {
                        dialog.dialog("close");
                    }
                }
            });
        })

    </script>
}

<h1>Users</h1>

<div id="jsGrid"></div>

<div id="dialog-form" title="Set User Password">
    <form asp-action="Login">
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" id="password" />
        </div>
    </form>
</div>