@model IEnumerable<NorthwindAspNetCore.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
}

@section Scripts {
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script>

        (function () {
            function initGrid(categories, suppliers) {
                $("#jsGrid").jsGrid({
                    width: "100%",

                    inserting: true,
                    editing: true,
                    sorting: true,
                    paging: true,
                    filtering: true,

                    autoload: true,
                    pageLoading: true,
                    pageSize: 10,

                    controller: {
                        loadData: function (filter) {
                            return $.ajax({
                                type: "GET",
                                url: "/api/products",
                                data: filter,
                                contentType: "application/json"
                            });
                        },
                        insertItem: function (item) {
                            return $.ajax({
                                type: "POST",
                                url: "/api/products",
                                data: JSON.stringify(item),
                                contentType: "application/json",
                                dataType: "json"
                            });
                        },
                        updateItem: function (item) {
                            return $.ajax({
                                type: "PUT",
                                url: "/api/products/" + item.id,
                                data: JSON.stringify(item),
                                contentType: "application/json",
                                dataType: "json"
                            });
                        },
                        deleteItem: function (item) {
                            return $.ajax({
                                type: "DELETE",
                                url: "/api/products/" + item.id,
                                contentType: "application/json",
                                dataType: "json"
                            });
                        }
                    },

                    fields: [
                        { name: "id", type: "number", width: 50, title: "Id" },
                        { name: "name", type: "text", width: 250, validate: "required", title: "Name" },
                        { name: "categoryId", type: "select", width: 100, title: "Category", items: categories, valueField: "id", textField: "name" },
                        { name: "supplierId", type: "select", width: 100, title: "Supplier", items: suppliers, valueField: "id", textField: "companyName" },
                        { name: "unitPrice", type: "number", width: 50, validate: "required", title: "Unit Price" },
                        { name: "unitsInStock", type: "number", width: 50, validate: "required", title: "Units in Stock" },
                        { name: "unitsOnOrder", type: "number", width: 50, title: "Units in Order" },
                        { name: "reorderLevel", type: "number", width: 50, title: "Reorder Level" },
                        { name: "discontinued", type: "checkbox", width: 90, title: "Discontinued" },
                        { type: "control" }
                    ]
                });
            }

            $(document).ready(function () {
                $.get("/api/categories").then(function (categories) {
                    $.get("/api/suppliers").then(function (suppliers) {
                        initGrid(categories.data, suppliers.data);
                    })
                })
            })
        })()

    </script>
}

<h1>Products</h1>

<div id="jsGrid"></div>
